@import 'index.scss';

/////////////////* Navbar */////////////////
.navbar {
  background-color: rgb(22, 55, 144);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  width: 30%;
  margin-left: auto
}

.nav-header {
  font-size: 20px;
  padding: 20px;
  margin-left: 25px; 
}

.navbar a:hover {
  color: rgb(18, 218, 191);
  cursor: pointer; 
}
//////////////////* end of Navbar *//////////////////


/////////////////* BANNER */////////////////
.banner {
  background: url("../src/images/adriatic-beach-boat.jpg") no-repeat;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.banner h1,
.banner p {
  color: white;
}

.banner .row {
  margin-top: 100px;
  text-align: center
}

/////////////////*end of banner*//////////////////

/////////////////* LOCATIONS *//////////////////

.LocationCard {
  border-radius: 3px;
  display: inline-block;
  height: 60px;
  margin: 2rem;
  position: flex;
  width: 100px;
  text-align: center;
  background:  whitesmoke;
  padding: 19px;
  box-shadow: 0 1px 3px rgba(47, 100, 246, 0.12), 0 1px 2px rgba(17, 64, 151, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.LocationCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.LocationCard a {
   color: black;   
 }

 .createLocation {
  position: absolute;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 240px;
  height: 240px;
  text-align: center;
  background: whitesmoke;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.createLocation:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 .locationName h1 {
  display: flex;
  padding: 20px;
  margin: 1rem 0;

 }
 /////////////////* END OF LOCATIONS *//////////////////

 /////////////////* ABOUT PAGE *//////////////////

 .about h3{
  position: absolute;
  font-weight: lighter;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 290px;
  text-align: center;
  background: whitesmoke;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.about:hover h3{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
/////////////////* END ABOUT PAGE *//////////////////

/////////////////* BEACHES *//////////////////
 .form {
  display: flex;
  padding: 20px;
  margin: 1rem 0;

 }

 .BeachesCard {
  background: whitesmoke;
  border-radius: 0.8rem;
  margin: 1rem 0;
  float: left;
}

.close-btn {
  position: absolute;
  display: block;
  color: rgb(61, 89, 167);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 8;
}
.beach-info {
  padding: 1.7rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: rgb(61, 89, 167);
  }
  h5 {
    text-transform: capitalize;
  }
}

.BeachesContainer {
  width: 70vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem 0; 
}

.beachImage {
  width: 100%;
  display: block;
  min-height: 13rem;
}

/////////////////* END BEACHES *//////////////////
